@using WebMaze.Models.Life
@using WebMaze.DbStuff.Model.Life
@model AccidentViewModel

<form action="@Url.Action("AddEditAccident", "Life")" method="post" class="mb-3">

    <div class="input-group mb-3">
        <span class="input-group-text col-sm-2">Дата</span>
        <input class="form-control" asp-for="AccidentDate" asp-format="{0:yyyy-MM-ddTHH:mm}">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text col-sm-2">Категория</span>
        <select asp-for="SelectedAccidentCategory"
                asp-items="Model.AccidentCategoryList"
                class="form-select">
            <option value="">Выберите категорию</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text col-sm-2">Адрес</span>
        <select asp-for="SelectedAccidentAddress"
                asp-items="Model.AccidentAddressList"
                class="form-select">
            <option value="">Впишите адрес</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text col-sm-2">Описание</span>
        <input class="form-control" asp-for="AccidentDescription"/>
    </div>

    <input class="btn btn-secondary" type="submit" value="Отправить" role="button">
    <a class="btn btn-secondary" id="buttonCancelAddAccident" role="button" href="#">Отмена</a>

</form>