@{
    Layout = "_Layout";
    ViewData["Title"] = "Жизнь";
}

@RenderSection("Scripts", required: false)



<div class="border-bottom d-flex">
    <div class="ml-auto">
        This is Life Layout Part. Hi there!
    </div>
</div>

<div class="mb-5">
    @RenderBody()
</div>
