@using WebMaze.Models.Life
@model HouseDestroyedInFireViewModel

<partial name="_Validation" />
@section Scripts {
    @* Latest version of Bootstrap*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
}



<form action="@Url.Action("AddEditHouseDestroyedInFire", "Life")" method="post" class="mb-3" id="houseDestroyedEdit">

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.AccidentId" />

    <div class="mb-3">
        <div><span asp-validation-for="HouseAddressId" class="text-danger fs-6"></span></div>
        <div class="input-group">
            <span class="input-group-text col-lg-3">Адрес сгоревшего дома</span>
            <select asp-for="HouseAddressId"
                    asp-items="Model.HouseAddressesList"
                    class="form-select">
                <option hidden value="">Выберите адрес</option>
            </select>
        </div>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mt-5">
        <input class="btn btn-secondary" id="buttonOkAddHouse" type="submit" value="Отправить" role="button">
            <a class="btn btn-secondary" id="buttonCancelAddVictim" role="button"
               asp-controller="Life" asp-action="EditFire" asp-route-id="@Model.AccidentId">Отмена</a>
    </div>

</form>
