@{
    Layout = "~/Views/Shared/Life/_LifeLayout.cshtml";
}

<h3>Проект "Жизнь"</h3>
<div class="my-3">
    <h5>Краткое описание</h5>
    <div>
        В этом проекте демонстрируется работа с таблицей происшествий. Предусмотрены следующие операции:
    </div>
    <ul>
        <li>Внесение, редактирование и удаление новых происшествий одного из двух типов: пожары или преступления.</li>
        <li>Внесение и редактирование подробной информации по каждому происшествию - этот раздел доступен пользователям, авторизовавшимся как полицейские или пожарные.</li>
        <li>Просмотр подробной информации о происшествии - этот раздел доступен всем пользователям.</li>
    </ul>
    <div>
        Подробная информация о происшествии включает информацию о потерпевших, сгоревших домах, классифиации пожара, преступниках, классификации преступления по уголовному кодексу.
    </div>


    <div class="my-3">
        <a asp-controller="Life" asp-action="ShowAccidents">Сводка происшествий</a>
    </div>

    <div class="text-dark">
        <h5>Вспомогательные функции</h5>
        Для демонстрации работы программы удобно, чтобы в базе данных было доступно несколько пользователей и адресов. Если их там еще нет, вы можете создать их, перейдя по ссылкам:
        <ul>
            <li><a asp-controller="Life" asp-action="AddUsersToDb" asp-route-quantity="10">Создать несколько пользователей. </a>
                <div>
                    Будет сделано 10 попыток создания пользователей с уникальным случайным полным именем; поскольку словарь имен и фамилий ограничен, уникальность не всегда будет обеспечена и количество реально созданных пользователей будет меньше 10.
                </div>
            </li>
            <li><a asp-controller="Life" asp-action="AddAddressesToDb" asp-route-quantity="10">Создать 10 случайных неуникальных адресов (домов)</a></li>
        </ul>

        Можно посмотреть <a asp-controller="Life" asp-action="AddUsersToDb" asp-route-quantity="0">список пользователей </a> или <a asp-controller="Life" asp-action="AddAddressesToDb" asp-route-quantity="0">список адресов</a> в базе данных в текущий момент времени.
    </div>
</div>


