@{
    Layout = "_LifeLayout";
}

<h3>Проект "Жизнь"</h3>
<div class="my-3">
    В жизни случается всякое... Об этом же говорит и сводка происшествий.
    <div class="my-3">
        <a asp-controller="Life" asp-action="ShowAccidents">Сводка происшествий</a>
    </div>
</div>


