@using WebMaze.Services
@inject LifeService lifeService

@{
    Layout = "_Layout";
    ViewData["Title"] = "Жизнь";
}

@RenderSection("Scripts", required: false)



<div class="border-bottom d-flex">
    <div class="ml-auto">
        @if (User.Identity.IsAuthenticated)
        {
            var currentUser = lifeService.GetCurrentUser();
        <div>
            Вы зашли как @(currentUser.FirstName + " " + currentUser.LastName) |
            <a asp-action="Logout" asp-controller="Life">Выйти</a>
        </div>
        <div>
            Ваши роли:
            @foreach (var role in currentUser.Roles)
            {
            <span>@role.Name</span>
            }
        </div>
        }
        else
        {
            <div>
                Вы не зашли в систему. 
                <a asp-action="Login" asp-controller="Life">Войти</a>
            </div>
        }
    </div>
</div>

<div class="mb-5">
    @RenderBody()
</div>
